<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Football.Properties.Kadro" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Football.Kadro" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Football.FormasyonKaydet" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Football.Properties.Settings.FootballConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=Football;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Football.Properties.Kadro>
            <setting name="Oyuncu1" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu2" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu3" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu4" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu5" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu6" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu7" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu8" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu9" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu10" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu11" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu12" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu13" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu14" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu15" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu16" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu17" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu18" serializeAs="String">
                <value />
            </setting>
        </Football.Properties.Kadro>
        <Football.Kadro>
            <setting name="Oyuncu1" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu2" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu3" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu4" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu5" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu6" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu7" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu8" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu9" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu10" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu11" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu12" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu13" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu14" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu15" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu16" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu17" serializeAs="String">
                <value />
            </setting>
            <setting name="Oyuncu18" serializeAs="String">
                <value />
            </setting>
        </Football.Kadro>
        <Football.FormasyonKaydet>
            <setting name="Formasyon" serializeAs="String">
                <value />
            </setting>
        </Football.FormasyonKaydet>
    </userSettings>
</configuration>